name: Python Version Testing
on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10","3.11","3.12"]
        include:
          - python-version: "3.11"
            experimental: true
          - python-version: "3.12"
            experimental: true

    steps:
     - name: Checkout code
       uses: actions/checkout@v4
    
     - name: Setup Python ${{ matrix.python-version }}
       uses: actions/setup-python@v5
       with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    
     - name: Install dependencies
       run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest
     
     - name: Run Dry Steam Playtime Script
       env:
        STEAM_KEY: ${{ secrets.STEAM_KEY }}
        STEAM_USER: ${{ secrets.STEAM_USER }}
        NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
        NOTION_RAW_PLAYTIME_DBID: ${{ secrets.NOTION_RAW_PLAYTIME_DBID }}
        NOTION_VIDEO_GAME_STATS_DBID: ${{ secrets.NOTION_VIDEO_GAME_STATS_DBID }}
       continue-on-error: ${{ matrix.experimental == true }}
       run: python dry_2week_playtime.py