name: Python Version Testing
on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10","3.11","3.12"]

    steps:
     - name: Checkout code
       uses: actions/checkout@v4
    
     - name: Setup Python ${{ matrix.python-version }}
       uses: actions/setup-python@v5
       with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    
     - name: Install dependencies
       run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest
    
     - name: Run Tests
       run: pytest